.service_container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
}
.flexitem {
  width: 50%;
  padding: 15px;
}
.service_image {
  border: 1px solid green;
}
.service_image img {
  margin-left: 20%;
  margin-top: 12%;
  width: 50%;
  height: 50%;
}
.service_details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.service_details img {
  width: fit-content;
}

.service_details_items {
  text-align: left;
}
.service_details_items h3 {
  font-family: Montserrat, sans-serif;
  color: #333132;
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 1.4;
}
.sub_para {
  font-size: 0.93rem;
  border: 1px solid green;
  background-color: #e9ebff;
}
