.service_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  margin: 40px 0px;
}
.service_container_reverse {
  flex-direction: row-reverse;
}
.flexitem {
  width: 50%;
}
.service_image img {
  margin-left: 20%;
  margin-top: 12%;
  width: 50%;
  height: 50%;
}
.service_details {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.service_details img {
  width: fit-content;
}

.service_details_items {
  text-align: left;
  margin: 10px 50px;
}
.service_details_items h3 {
  font-family: Montserrat, sans-serif;
  color: #333132;
  font-size: 2.125rem;
  font-weight: 600;
  line-height: 1.4;
}
.sub_para {
  font-size: 0.93rem;
  background-color: #e9ebff;
  padding: 25px;
}
